.text-align-right {
  text-align: right;
}

.grey-text {
  color: rgb(86, 89, 89);
}

.float-right {
  text-align: right;
  float: right;
}

.hyper-link {
  font-size: 11px;
  text-decoration: none;
  color: #007185;
}

.hyper-link:hover {
  text-decoration: underline;
  color: rgb(196, 85, 0);
}

.hyper-link:visited {
  color: #007185;
}

.font-size-11 {
  font-size: 11px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.bold {
  font-weight: 700;
}

.bottom-seperator {
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.message-icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAMCAYAAABx290PAAAA20lEQVQ4y2Ngzj7oxZF96BVD2oH/hDBIHUg9AxCciGL2OhbF8epIKMN/QhikDqQepI8BZMjWy2//EwO2XHoLthSkD2TIu3NbidL37uwWsKVgC0EuJwWAfQsEIJeTAkDqRy0cJhaCUh0o9ZGVSoGpj+RUijsfHvzXsePxb7iviMyHR0MZ/j3Z0PEb5iuMfIgTZByTBlpwLWHBje+wYCQGHAtlkD4ezXHt9rSE74h4IxaUXORmyzq0nRQLQeBiLAP3sUi27aRbCAIN/5lEi4/OJ1Xb/wYGplPJohj6AGLXLKmrpibWAAAAAElFTkSuQmCC);
  display: inline-block;
  position: relative;
  width: 13px;
  top: 1px;
  height: 11px;
  background-position: 0 0;
}

.message-icon:hover {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAMCAYAAABx290PAAAA20lEQVQ4y2Ngzj7oxZF96BVD2oH/hDBIHUg9AxCciGL2OhbF8epIKMN/QhikDqQepI8BZMjWy2//EwO2XHoLthSkD2TIu3NbidL37uwWsKVgC0EuJwWAfQsEIJeTAkDqRy0cJhaCUh0o9ZGVSoGpj+RUijsfHvzXsePxb7iviMyHR0MZ/j3Z0PEb5iuMfIgTZByTBlpwLWHBje+wYCQGHAtlkD4ezXHt9rSE74h4IxaUXORmyzq0nRQLQeBiLAP3sUi27aRbCAIN/5lEi4/OJ1Xb/wYGplPJohj6AGLXLKmrpibWAAAAAElFTkSuQmCC);
  display: inline-block;
  position: relative;
  width: 13px;
  top: 1px;
  height: 11px;
  background-position: 14px 0;
}

.smiley-icon {
  background-position: -314px -2px;
}

.book-icon {
  background-position: -184px -2px;
}

.globe-icon {
  background-position: -158px -2px;
}

.grade-level-icon {
  background-position: -106px -2px;
}

.dimensions-icon {
  background-position: -2px -2px;
}

.building-icon {
  background-position: -288px -2px;
}

.cala-icon {
  background-position: -262px -2px;
}

.barcode-icon {
  background-position: -132px -2px;
}

.carousel-arrow-right {
  background-image: url(https://m.media-amazon.com/images/S/sash/McBZv0ZvnbehkIx.png);
  background-position: -105px -7px;
  width: 11px;
  height: 15px;
}

.location-icon {
  min-width: 16px;
  height: 14px;
  float: left;
  background-image: url(https://m.media-amazon.com/images/S/sash/nJCzu3ZNAgUz-2w.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin-right: 5px;
}

.email-icon {
  display: inline-block;
  background-image: url(https://m.media-amazon.com/images/S/sash/M9SSJsDj8YXHO4p.png);
  background-position: -256px -220px;
  background-size: 512px 256px;
  position: relative;
  width: 19px;
  height: 17px;
}

.facebook-icon {
  display: inline-block;
  background-image: url(https://m.media-amazon.com/images/S/sash/M9SSJsDj8YXHO4p.png);
  background-size: 512px 256px;
  position: relative;
  width: 17px;
    height: 17px;
    background-position: -237px -151px;
}

.twitter-icon {
  display: inline-block;
  background-image: url(https://m.media-amazon.com/images/S/sash/M9SSJsDj8YXHO4p.png);
  background-size: 512px 256px;
  position: relative;
  width: 18px;
  height: 17px;
  background-position: -193px -105px;
}

.pinterest-icon {
  display: inline-block;
  background-image: url(https://m.media-amazon.com/images/S/sash/M9SSJsDj8YXHO4p.png);
  background-size: 512px 256px;
  position: relative;
  width: 17px;
  height: 17px;
  background-position: -138px -14px;
}
