@import url("https://cdn.jsdelivr.net/gh/GoCloudHub/font-amazon-ember/fonts/amazonember/amazonember.css");

body {
  position: relative;
  background-color: rgb(250, 250, 250);
  margin: 0px;
}

.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

* {
  font-family: "Amazon Ember";
}

.nav {
  background-color: #131921;
  overflow: visible;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  gap: 3px;
}

.nav > * {
  z-index: 2;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 7px;
  margin: 0 3px;
  border: transparent solid thin;
}

.nav > *:hover {
  border-radius: 2px;
  border: white solid thin;
}

.nav * .two-lines {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav * .two-lines .line-1 {
  font-size: 12px;
}

.nav * .two-lines .line-2 {
  font-size: 14px;
  font-weight: 700;
}

.nav div .loc-icon {
  width: 15px;
  height: auto;
  padding: 0px 3px;
  padding-top: 8px;
}

.search-bar-section {
  padding: 0;
  flex-grow: 1;
  display: flex;
  height: 40px;
}

.search-bar-section:hover {
  border: 0;
}

.search-bar-section:focus-within {
  border: 2px solid #FF8F00;
  border-radius: 8px;
}

.search-dp {
  text-align: center;
  background-color: rgb(245, 245, 245);
  color: rgb(100, 100, 100);
  border-radius: 5px 0px 0px 5px;
  width: 66px;
  font-size: 12px;
  font-weight: 500;
  font-family: "Amazon Ember";
}

.search-dp option {
  width: 66px;
}

.search-dp {
  flex: 0 0 50px;
  height: 100%;
  border: 0;
}

.search-bar {
  padding: 0px;
  height: 38px;
  flex-grow: 1;
  border: 1px solid rgb(200, 200, 200);
  padding-left: 10px;
  font-size: 15px;
}

.search-bar:focus {
  outline: none;
}

.search-button {
  width: 45px;
  height: 100%;
  border: 0;
  font-size: 22px;
  background-color: hsl(37deg 99% 70%);
  color: rgb(50, 50, 50);
  border-radius: 0px 5px 5px 0px;
}

.lang-flag {
  height: 18px;
  width: 24px;
  padding: 3px;
  padding-top: 8px;
}

.lang-dp {
  position: relative;
}

.lang-dp .fa-caret-down {
  padding-left: 2px;
  padding-top: 14px;
}

.fa-caret-down {
  font-size: 12px;
  color: rgb(200, 200, 200);
}

.cart {
  width: 70px;
}

.cart .two-lines .line-1 {
  color: rgb(240, 136, 4);
  font-size: 16px !important;
  font-weight: 700;
  padding-left: 20px;
}

.cart .two-lines .line-2 {
  padding-left: 40px;
}

.cart-icon {
  width: 41px;
  height: auto;
  position: absolute;
}

.lang-dp:hover .lang-popup-window {
  display: flex;
}

.lang-popup-window {
  z-index: 2;
  position: absolute;
  display: none;
  flex-direction: column;
  color: rgb(68, 68, 68);
  background-color: white;
  width: 210px;
  height: 443px;
  padding: 10px 14px 7px 14px;
  border: 1px solid #bbb;;
  border-radius: 3px;
  top: 48px;
  left: -5px;
  text-align: left;
  font-size: 13px;
  line-height: 2;
}

.change-currency {
  float: right;
  font-size: 12px;
  color: #007185;
  text-decoration: none;
}

.shopping-on {
  line-height: 1;
}

.shopping-on .lang-flag {
  padding: 0px;
  padding-top: 5px;
}

.change-country {
  text-align: center;
}

.accounts-lists {
  position: relative;
}

.acc-lists-popup-window {
  z-index: 2;
  position: absolute;
  display: none;
  flex-direction: column;
  color: rgb(68, 68, 68);
  background-color: white;
  width: 470px;
  height: 362px;
  padding: 10px 14px 7px 14px;
  border: 1px solid #bbb;;
  border-radius: 3px;
  top: 48px;
  left: -245px;
  text-align: center;
  font-size: 13px;
  line-height: 2;
}

.accounts-lists:hover .acc-lists-popup-window {
  display: flex;
}

.acc-list-popup-upper {
  flex: 0 0 62px;
  margin-bottom: 16px;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.sign-in-button {
  padding: 0px;
  background-color: red;
  color: rgb(17, 17, 17);
  font-size: 13px;
  font-weight: 500;
  line-height: 28px;
  height: 30px;
  width: 197px;
  border: 1px solid;
  border-top-color: rgb(200, 148, 17);
  border-right-color: rgb(176, 130, 15);
  border-bottom-color: rgb(153, 113, 13);
  border-left-color: rgb(176, 130, 15);
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #fcf3dc;
  background: #f3cf72;
  background-image: -webkit-linear-gradient(top, rgb(248, 227, 173), rgb(238, 186, 55));
}

.acc-list-popup-lower {
  display: flex;
  flex-direction: row;
  flex: 1 0 70%;
  gap: 20px;
  line-height: 1.75;
}

.acc-list-popup-lower div {
  flex: 0 0 50%;
  text-align: left;
}

.acc-list-popup-left {
  border-right: 1px solid rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
}

.acc-list-popup-right {
  display: flex;
  flex-direction: column;
}

.acc-list-header {
  color: rgb(15, 17, 17);
  font-weight: 700;
  font-size: 16px;
}

.acc-list-item, .acc-list-item:visited {
  color: rgb(68, 68, 68);
  text-decoration: none;
  font-size: 13px;
}

.acc-list-item:hover {
  text-decoration: underline;
  color: #FF8F00;
}


.h-seperator {
  width: 100%;
  background-color: rgb(238, 238, 238);
  margin: 5px 0px;
  height: 1px;
}

.subnav {
  display: flex;
  align-items: center;
  height: 39px;
  padding-left: 14px;
  background-color: #232f3e;
  overflow: hidden;
}

.subnav a {
  padding: 5px 7px;
  z-index: 2;
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}

.subnav * {
  z-index: 2;
}

.subnav a .fa-bars {
  font-size: 18px;
  padding-right: 4px;
}

.subnav a:hover {
  border: 1px solid white;
}

.side-nav-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.8);
}

.side-nav {
  display: flex;
  position: fixed;
  background-color: #fff;
  flex-direction: column;
  height: 100%;
  left: -365px;
  width: 365px;
  z-index: 3;
  transition: 2s;
}

.side-nav-x {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  left: 380px;
}

.side-nav-body {
  overflow-y: scroll;
  padding: 7px 0px 30px 0px;
}

.side-nav .side-nav-header {
  height: 50px;
  background-color: #232f3e;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.side-nav .side-nav-header a {
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 19px;
  font-weight: 700;
  margin-left: 36px;
  gap: 10px;
  align-items: center;
}

.profile-icon {
  width: 25px;
  height: 25px;
}

.side-nav-arrow-left {
  float: right;
}

.side-nav-label {
  padding: 13px 20px 13px 36px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(17, ,17, 17);
  padding-bottom: 5px;
}

.side-nav-item {
  padding: 13px 20px 13px 36px;
  font-size: 14px;
  text-decoration: none;
  color: rgb(17, 17, 17);
}

.side-nav-item:hover {
  background: rgb(235, 235, 235);
}

.side-nav-section {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(213, 219, 219);
}

.side-nav-section:first-child {
  border-top: 0 !important;
}

.sub-subnav {
  padding-left: 15px;
  height: 31px;
  background-color: rgb(250, 250, 250);
  overflow: hidden;
  border-bottom: solid 1px rgb(220, 220, 220);
}

.sub-subnav a {
  text-decoration: none;
  line-height: 33px;
  color: rgb(51, 51, 51);
  font-size: 11px;
  padding: 0px 11px;
}

.sub-subnav a:hover {
  padding-bottom: 7px;
  color: #FF8F00;
  border-bottom: 2px solid #FF8F00;
}

.ad {
  background-color: rgb(238, 238, 238);
  height: 55px;
  line-height: 55px;
  text-align: center;
  overflow: hidden;
}

.current-nav {
  padding: 0px 16px;
}

.current-nav a {
  font-size: 12px;
  color: rgb(50, 50, 50);
  margin: 0px 2px;
  text-decoration: none;
}

.current-nav a:hover {
  text-decoration: underline;
}

.arrow-h-seperator {
  font-size: 12px;
}

.search-bar {
  display: inline;
}

.nav #amazon-logo {
  padding-top: 5px;
  height: 27px;
  width: auto;
}

.main-body {
  display: flex;
  flex-direction: row;
  padding: 14px 18px 18px 18px;
  max-width: 1500px;
  margin: 0 auto;
}

.item-details {
  display: flex;
  flex-direction: row;
}

.item-images-authors {
  width: 260px;
  height: 300px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item-main-image {
  box-shadow: 0 2px 5px 1px rgb(0 0 0 / 20%);
  margin: 50px 0px;
}

.item-small-images {
  margin-top: 50px;
  display: flex;
  flex-grow: 1;
  gap: 5px;
}

.item-small-images img {
  height: 60px;
  flex-grow: 1;
}

.item-authors-icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.author-icon {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.author-logo {
  width: 50px;
  border-radius: 50%;
}

.author-name {

}

.follow-button {
  width: 98px;
  padding: 0 10px;
  border: 1px solid rgb(213, 217, 217);
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  border-radius: 7px;
  background-color: white;
  height: 29px;

}

.item-description {
  flex-basis: 400px;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.item-heading {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(231, 231, 231);
}

.item-5-stars {
  width: 80px;
}

.item-rating {
  margin-bottom: 5px;
}

.item-rating-count {
  margin-left: 20px;
}

.best-seller-icon {
  height: 20px;
  width: auto;
}

.item-body {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(231, 231, 231);
}

.item-see-all-formats {
  margin-left: 10px;
  margin-top: 15px;
}

.item-board-book {
  border: 1px solid rgb(231, 118, 0);
  border-radius: 3px;
  width: 108px;
  padding: 5px 10px 5px 11px;
  background-color: #fef8f2;
  cursor: pointer;
  margin: 10px 0px 4px 6px;
}

.item-buy-count {
  padding: 0px 16px;
  margin-bottom: 30px;
}

.item-savings-section {
  padding: 5px 0px;
}

.item-savings-icon {
  background-color: rgb(127, 218, 105);
  cursor: pointer;
  padding: 1px 6px;
  width: fit-content;
}

.item-description-body {
  font-size: 14px;
  line-height: 20px;
}

.item-description-body ul {
  padding: 0px;
  margin-left: 18px;
}

.body-bottom {
  margin-top: 18px;
}

.body-bottom-cotainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.body-bottom-left {
  width: 24px;
}

.body-bottom-middle-container {
  overflow: hidden;
}

.body-bottom-middle {
  position: relative;
  height: 104px;
  overflow: hidden;
}

.body-bottom-right {
  width: 24px;
}

.carousel-list {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.carousel-item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  text-align: center;
  width: 110px;
  height: 104px;
  white-space: normal;
}

.carousel-item-top {
  display: flex;
  align-items: center;
  min-height: 32px;
  margin-bottom: 8px;
}

.carousel-item-middle {
  margin-bottom: 8px;
  height: 24px;
  width: 24px;
  background-image: url(https://m.media-amazon.com/images/S/sash/4KY1PiWMSEktM92.png);
  vertical-align: middle;
}

.carousel-arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border-radius: 7px;
  border: 1px solid rgb(213, 217, 217);
}

.carousel-arrow-container:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-arrow-container: {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.item-name {
  font-size: 28px;
  color: rgb(15, 17, 17);
}


.item-date {
  font-size: 24px;
  color: rgb(86, 89, 89);
}

.right-col {
  flex-basis: 270px;
  margin: 0px 0px 22px 20px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.outer-box {
  border-radius: 8px;
  border: solid 4px rgb(221, 221, 221);
}

.inner-box {
  background: white;
  padding: 14px 18px;
  border-radius: 8px;
  border: solid 1px rgb(213, 217, 217);
  font-size: 14px;
  line-height: 20px;
  color: rgb(15, 17, 17);

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buy-new-price {
  color: rgb(177, 39, 4);
  font-size: 18px;
}

.quantity-dropdown {
  border: 1px solid rgb(213, 217, 217);
  border-radius: 7px;
  box-shadow: 0 2px 5px rgb(15 17 17 / 15%);
}

.add-to-cart-button {
  height: 30px;
  background-color: rgb(255, 216, 20);
  border-radius: 20px;
  border: 1px solid rgb(255, 216, 20);
}

.buy-now-button {
  height: 30px;
  background-color: rgb(255, 164, 28);
  border-radius: 20px;
  border: 1px solid rgb(255, 164, 28);
}

.ship-sold {
  display: grid;
  grid-template-columns: min-content auto;
  width: 100%;
  white-space: nowrap;
  font-size: 12px;
  line-height: 16px;
}

.gift-receipt input {
  height: 13px;
  width: 13px;
  vertical-align: top;
  position: relative;
  bottom: -3px;
}

.gift-receipt {
  color: #0F1111;
  padding-left: 15px;
  text-indent: -15px;
  margin-left: 3px;
}

.gift-receipt-text {
  position: relative;
  padding-left: 5px;
  text-indent: 0;
  display: inline-block;
}

.add-to-list-border {
  padding-top: 10px;
  border-top: 1px solid rgb(231, 231, 231);
}

.all-to-list-container {
  background-color: rgb(231, 233, 236);
  width: 230px;
  height: 30px;
  border: 1px solid rgb(231, 233, 236);
  border-radius: 3px;
}

.add-to-list {
  text-align: left;
  width: 230px;
  height: 29px;
  padding: 0px 10px;
}

.social-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 14px 0px 8px 0px;
  gap: 5px;
}

.amazon-book-club {
  text-align: center;
}

.amazon-book-club-img {
  width: 169px;
  height: 32px;
}

.book-club-button-container {
  text-align: center;
  height: 29px;
  border: 1px solid #D5D9D9;
  border-radius: 8px;
  padding: 0px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  background-color: #FFF;
}

.book-club-button {
  height: 100%;
  width: 100%;
  border: 0px;
  background-color: transparent;
  border-radius: 8px;
}

.book-club-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.not-in-a-club {
  margin-top: 5px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.page-footer {
  display: flex;
  flex-direction: column;
  background-color: #232F3E;
}

.back-to-top {
  background-color: rgb(55, 71, 90);
  color: white;
  width: 100%;
  padding: 15px 0px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 40px;
}

.back-to-top:hover {
  background-color: #485668;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  gap: 120px;
  flex-shrink: 0;
  padding-bottom: 50px;
  border-bottom: 1px solid #3a4553;
}

.footer-nav a {
  color: rgb(221, 221, 221);
  text-decoration: none;
  font-size: 14px;
  overflow: visible;
  flex-shrink: 0;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.footer-nav-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-sub-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 55px;
  align-items: center;
}

.footer-sub-nav-logo {
  width: 76px;
  height: 23px;
  background-image: url('../img/amazon-logo.png');
  background-size: cover;
  margin-right: 80px;
}

.footer-sub-nav-settings {
  display: flex;
  flex-grow: row;
  gap: 10px;
  color: rgb(204, 204, 204);
  font-size: 13px;

}

.footer-sub-nav-lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-sub-nav-globe {
  width: 15px;
  height: 15px;
  margin-right: 3px;
}

.footer-sub-nav-lang > .fa-sort {
  font-size: 11px;
  color: rgb(100, 100, 100);
  float: right;
  font-weight: 0;
  padding-left: 16px;
}

.footer-sub-nav-settings > * {
  border: 1px solid rgb(132, 134, 136);
  border-radius: 3px;
  padding: 7px 10px 7px 7px;
  color: rgb(204, 204, 204);
  text-decoration: none;
}

.fa-sort {
  vertical-align: center;
}

.footer-sub-nav-country .lang-flag {
  width: 18px;
  height: 12px;
  padding: 0px;
}

.footer-nav-more {
  display: flex;
  flex-direction: column;
  background-color: rgb(19, 26, 34);
  padding: 25px 0px;
  gap: 15px;

}

.footer-nav-more-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 56px;
}

.footer-nav-item {
  width: 83px;
  text-decoration: none;
  font-size: 11px;
  font-weight: 700;
  color: #DDD;
  padding: 0px 5px;
}

.footer-nav-item:hover {
  text-decoration: underline;
}

.footer-nav-item-body {
  font-size: 10px;
  color: #999;
  font-weight: normal;
}

.footer-nav-line {
  display: flex;
  flex-direction: row;
  gap: 15px;
  color: rgb(221, 221, 221);
  font-size: 12px;
  justify-content: center;
  padding-top: 20px;
}

.footer-nav-line a {
  text-decoration: none;
  color: rgb(221, 221, 221);
}

.footer-nav-line a:hover {
  text-decoration: underline;
}
